<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.469212401"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Globglogabgalab Button</name>

  <description>
      Globglogabgalab
  </description>

  <author href="https://scratch.mit.edu/projects/469212401/"oskarebayseller@gmail.com">
      Hardeep Shoker
  </author>

  <icon src="icon.png" />

</widget>